* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

@font-face {
  font-family: Plus Jakarta Sans;
  src: url(https:fonts.google.com/specimen/Plus+Jakarta+Sans);
}
body {
  background-color: hsl(210, 60%, 98%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: hsl(0, 0%, 100%);
  margin-top: 4em;
  border-radius: 4px;
  min-width: 20%;
}
.container .gen-con {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 16px 0 16px;
  font-size: 16px;
}
.container .gen-con .first-con {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
  margin: 16px 0 16px 0;
}
.container .gen-con .first-con #three {
  background-color: hsl(219, 12%, 42%);
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  border-radius: 4px;
  color: white;
}
.container .gen-con .first-con #zero {
  background-color: hsl(219, 12%, 42%);
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  border-radius: 4px;
  color: white;
  display: none;
}
.container .gen-con #mark {
  cursor: pointer;
  color: hsl(219, 85%, 26%);
}
.container .gen-con #mark:active {
  color: hsl(219, 14%, 63%);
}
.container .gen-con #marks {
  cursor: pointer;
  color: hsl(219, 12%, 42%);
  display: none;
}
.container .gen-con #marks:active {
  color: hsl(219, 14%, 63%);
}
.container #second-container, .container #seconds-container, .container #secondss-container {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: hsl(205, 33%, 90%);
  padding: 8px;
  margin: 8px 16px;
}
.container #second-container .second-divs, .container #seconds-container .second-divs, .container #secondss-container .second-divs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 16px;
}
.container #second-container img, .container #seconds-container img, .container #secondss-container img {
  margin: 8px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.container #second-container p, .container #seconds-container p, .container #secondss-container p {
  font-weight: lighter;
  font-size: 12px;
}
.container .third-container, .container .fourth-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  margin: 16px 16px 8px 16px;
}
.container .third-container .second-divs, .container .fourth-container .second-divs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 16px;
}
.container .third-container img, .container .fourth-container img {
  margin: 8px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.container .third-container p, .container .fourth-container p {
  font-weight: lighter;
  font-size: 12px;
}
.container #hello {
  margin-left: 6em;
  width: 35em;
  padding: 30px 16px;
  color: rgba(0, 0, 0, 0.694);
  background-color: hsl(205, 33%, 90%);
}
.container #hellos {
  margin-left: 6em;
  width: 35em;
  padding: 30px 16px;
  color: rgba(0, 0, 0, 0.694);
  border: 2px solid rgba(0, 0, 0, 0.096);
  display: none;
}

b {
  cursor: pointer;
}
b:active, b:hover {
  color: blue;
}/*# sourceMappingURL=style.css.map */